APP_ENV=local

PORT=3000
DEBUG=true

APP_NAME=nestjs-starter
APP_HOST=http://localhost:3000
APP_PREFIX=api

DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=user
DB_PASSWORD=example
DB_DATABASE=nestjs

REDIS_HOST=localhost
REDIS_PORT=6378
REDIS_PASSWORD=

MONGODB_URI=
